<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Reset your password</title>
</head>

<body>
<div>&nbsp;</div>
<div style="display: flex; justify-content: center;">
    <span style="font-family: calibri, sans-serif; margin: auto;">
        <a class="m_1062793905800744824btn"
           style="border-radius: 4px; display: inline-block; color: #fff; font-size: 16px; text-decoration: none; padding: 8px 15px; font-weight: 600; border: 1px solid #bb840c; line-height: 18px; background-color: #e3a10f;"
           href="{{ reset_url }}" target="_blank">
            <span>Reset your password</span>
        </a>
    </span>
</div>
</body>
</html>